/* Basic editor styles */
.ProseMirror {


    border-radius: 25px;
    padding: 10px;
    margin: 0px;
    //overflow: scroll;

    >*+* {
        margin-top: 0.75em;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    p {
        margin: 0px;
        padding: 0px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #0D0D0D;
        color: #FFF;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0D0D0D, 0.1);
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }
}

.menu {
    background-color: #15223b;
    margin: 10px 20px;
    border-radius: 25px;
    padding: 10px 20px;

    button {
        margin: 2px;
        padding: 1px, 5px;
        border-radius: 5px;
        border: 2px solid black;
        background-color: white;
        color: black;
        font-size: 16px;
        font-family: 'JetBrainsMono', monospace;
        font-weight: bold;
    }

    button:active {
        background-color: black;
        /* 鼠标按下时的背景颜色 */
        color: white;
        /* 鼠标按下时的文本颜色 */
    }
}

.content {
    background-color: white;
    margin: 20px;

    //padding: 20px;
    border-radius: 25px;
    border: 1px dashed#15223b;
    //height: calc(70vh - 100px);
}

.textInput {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 1px dashed#15223b;
    //overflow: scroll;


}