input {
    width: 50%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
    position: flex;
    text-align: left;
    padding: 10px;
    border: 10px;
    box-sizing: border-box;
    margin: 20px;
}