.header {
    background-color: #15223b;
    width: 100%;
    margin: 0;
    padding: 10px;
    user-select: none;
    text-align: center;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);

    .subtitle {
        color: #ffd000;
    }

    h2 {
        color: white;
        margin: 0;
        padding: 0;
    }
}