.header {
    background-color: #15223b;
    width: 100%;
    margin: 0;
    padding: 10px;
    user-select: none;
    text-align: center;

    .subtitle {
        color: #ffd000;
    }

    h2 {
        color: white;
        margin: 0;
        padding: 0;
    }
}