.button {


    button {
        background-color: #21355b;
        //#15223b;
        color: white;
        font-weight: bold;
        border: none;
        outline: none;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin: auto;
        width: 80px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
        margin: 10px;
        border-radius: 10px;
        user-select: none;
        cursor: pointer;
    }
}

.saveButton {}

.publishButton {}

.newButton {}

.deleteButton {}

.settingButton {}